.table-button {
  border: none;
  background: none;
}

.table-button + .table-button {
  margin-left: 10px;
}

.table-button:hover, .table-button:active, .table-button:focus {
  outline: 0;
}

.table-button:hover {
  opacity: 80%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}